@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.card{
    padding: 0;
}
th{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 500;
}

h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0;
}

.bt-fixed-nav {
    background-color: #E6E7E9;
    padding: 0px 20px;
    position: fixed;
    z-index: 1;
    justify-content: space-around;
    display: inline-flex;
    width: 100% !important;
}

#exportar {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.3rem;
    vertical-align: middle;
    margin-right: 1.3rem;
    padding-bottom: 10%;
}

.bt-button {
    background-color: #9be9accc;
    color: #000;
    border: 1px solid #464746;
    font-weight: 600;
    margin: 10px;
    padding: 5px 25px;
    border-radius: 8px;
    transition: 0.5s;
}

.bt-action-button {
    background-color: #facc58ce;
    color: #000;
    border: 1px solid #464746;
    font-weight: 600;
    margin: 10px;
    padding: 5px 25px;
    border-radius: 8px;
    transition: 0.5s;
}

.bt-button:hover {
    background-color: #21487B;
    color: #9CD485;
    border: 1px solid #21487B;
}

.bt-action-button:hover {
    background-color: #21487B;
    color: #9CD485;
    border: 1px solid #21487B;
}

.card-header {
    background-color: #21487B;
    color: #fff;
}

.bt-container{
    margin: 0 50px 0 50px;
}
