.table-orange {
    --bs-table-hover-bg: #ff3300 !important;
    --bs-table-bg: orangered !important;
}
.container-form {
    text-align: left!important;
    padding-left:15px;
    font-family: 'Roboto', sans-serif;
}
.container-form span{
    font-size: 20px;
}
.radio-form{
    display: flex;
    gap:15px;
}
.radio-form div button {
    border: 0px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-radius: 10px;
    border:3px solid #aeaeae;
    background: #0d6efd;


}
.radio-form label {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;

}
.data-form input{
    width:150px;

}
.form-flex{
    display:flex;
    gap:10px;
}

.data-form .data-button {
    width: 200px;
    height: 35px;
    display:inline-block;
    border-radius: 4px;
    background-color: #0d6efd;
    border:0px;
    color:white;


}

.radio-form input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid gray;
    margin-right: 10px;
    position: relative;

}
.form-flex input[type="text"] {
    height: 35px;
}

.radio-form label{
    font-size: 20px;
    color: #464646;
}
